p.t{
  color: blue;
font-style: oblique;
}
body{
background-color: rgb(173,216,230);
}
button.q{
  color: #FFFFFF;
  font-style: italic;
  left: 90px;
}
button.ç{
color: #FFFFFF;
  font-style: italic;
}
button.c{
color:#FFFFFF;
    font-style: italic;
}
button.m{
  color: #FFFFFF;
    font-style: italic;
}
button.n{
color: #FFFFFF;
    font-style: italic;
}
button.g{
  color: #FFFFFF;
}
button.d{
  color:#FFFFFF;
}
button.A{
  color:#FFFFFF;
}
button.l{
  color:#FFFFFF;
}
form.hj{
  color: red;
}
button.er{
  color: blue;
}
button.yy{
  color: blue;
}
p.tree{
  color: blue;
}
